.map-selected {
  fill: #ED1C24;
}

.map-unselected {
  fill: #FFFFFF;
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

svg {
  width: 100%;
}

.leaflet > div {
  width: 100%;
  height: 100vh;
}